
.main_page{
    background-color: #EFF0F0;

    //padding: 0 calc(20px - (100vw - 100%)) 0 0;

    @include mq('lg') {
        padding: 0;
    }

    p, h1{
        margin: 0;
    }

    &-slider{

        &.--mobile{
            display: none;

            @include mq('lg') {
                display: block;
            }
        }

        .main-block{
            display: flex;
            flex-direction: column;
            align-items: center;

            position: fixed;
            width: 100%;
            height: var(--swiper-height);
            bottom: 0;

            --gap-menu-item: 30px;

            z-index: 2;

            @include mq('xxl') {
                --gap-menu-item: 24px;
            }

            @include mq('xl') {
                --gap-menu-item: 12px;
            }

            @include mq('lg') {
                position: relative;
                height: fit-content;

                display: grid;
                grid-template-rows: repeat(3, auto);
                align-items: initial;
                justify-items: center;

                z-index: 3;
            }

            /*
            @include mq('md') {
                height: calc(var(--swiper-height) - 80px);
                bottom: 80px;

                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr auto 1fr auto 1fr;
                justify-content: center;
            }
            */

            &-title{
                margin-top: var(--margin-title);

                @include mq('xxl') {
                    margin-top: var(--margin-title);
                }

                @include mq('lg') {
                    margin-top: 40px;
                }

                @include mq('md') {
                    margin-top: 70px;
                }

                @include mq('sm') {
                    margin-top: 40px;
                }

                h1{
                    font-family: 'Montserrat-Bold';
                    font-size: 6.4vh;
                    font-weight: 600;
                    line-height: 1.2em;
                    letter-spacing: -0.04em;
                    text-align: center;
                    color: #1D2848;

                    white-space: pre-line;

                    @include mq('xxl') {
                        font-size: 5.7vh;
                    }

                    @include mq('xl') {
                        font-size: 5vh;
                    }

                    @include mq('lg') {
                        font-size: 32px;
                    }

                    @include mq('sm') {
                        font-size: 28px;
                    }

                    span{
                        color: #1E69FE;
                    }

                }
            }

            &-content-menu{
                display: inline-flex;
                gap: var(--gap-menu-item);

                position: absolute;
                bottom: 40px;

                transition: transform 1s ease-in-out;
                z-index: 3;

                -ms-overflow-style: none;  /* IE and Edge */
                scrollbar-width: none;  /* Firefox */

                &::-webkit-scrollbar{
                    display: none;
                }


                @include mq('xxl') {
                    bottom: 30px;
                }

                @include mq('xl') {
                    --gap-menu-item: 12px;
                }

                @include mq('lg') {
                    position: initial;
                    bottom: auto;
                    left: auto;
                    transform: none;

                    margin-top: 40px;

                    display: grid;
                    grid-template-columns: repeat(3, auto);
                    --gap-menu-item: 15px;
                }

                @include mq('md') {
                    grid-row: 2/3;

                    width: 100%;
                    margin-top: 100px;
                    padding-bottom: 8px;

                    display: inline-flex;
                    overflow-x: auto;
                }

                &-link{
                    max-width: 300px;
                    max-height: 300px;

                    min-width: 100px;
                    min-height: 100px;

                    width: 25vh;
                    height: 25vh;

                    display: flex;
                    flex-direction: column;
                    gap: 34px;
                    align-items: center;
                    justify-content: center;

                    border-radius: 20%;

                    background-color: rgba(54, 54, 54, 0.1);
                    backdrop-filter: blur(5px);
                    z-index: 1;

                    transition: transform 1.5s ease-in-out;
                    
                    &-scroll{
                        display: none;
                        min-width: 10px;
                        width: 10px;
                    }

                    @include mq('xxxl') {
                        max-width: 240px;
                        max-height: 240px;
                    }
                    
                    @include mq('xxl') {
                        max-width: 160px;
                        max-height: 200px;

                        width: 27vh;
                        height: 27vh;
                        border-radius: 30px;

                        gap: 20px;
                    }

                    @include mq('xl') {
                        max-width: 140px;
                        max-height: 160px;

                        width: 25vh;
                        height: 25vh;
                    }

                    @include mq('lg') {
                        max-width: 190px;
                        max-height: 160px;

                        width: 190px;
                        height: 160px;

                        background-color: rgba(54, 54, 54, 0.05);
                    }

                    @include mq('md') {
                        min-width: 160px;
                        min-height: 200px;

                        width: 160px;
                        height: 200px;

                        gap: 20px;


                        &:first-child{
                            margin-left: 30px;
                        }

                        &-scroll{
                            display: block;
                            min-width: 10px;
                            width: 10px;
                        }
                        
                    }

                    @include mq('sm') {
                        min-width: 150px;
                        min-height: 180px;

                        width: 150px;
                        height: 180px;

                        gap: 10px;

                        &:first-child{
                            margin-left: 20px;
                        }

                        &-scroll{
                            min-width: 10px;
                            width: 10px;
                        }
                    }

                    @media screen and (min-width: 959px) {
                        &:hover{
                            transform: scale(1.1);
                        }
                    }

                    p{
                        font-family: "Montserrat";
                        font-size: 2vh;
                        font-weight: 600;
                        line-height: 1.3em;
                        letter-spacing: -0.04em;
                        text-align: center;
                        text-transform: none;
                        text-decoration: none;

                        color: #fff;
                        transition: .2s;

                        @include mq('xxl') {
                            font-size: 14px;
                        }

                        @include mq('xl') {
                            font-size: 12px;
                        }
                    }

                    &-image{
                        width: 40%;
                        height: 40%;
                        border-radius: 20%;

                        background-position: center;
                        background-repeat: no-repeat;

                        @include mq('xxl') {
                            max-width: 80px;
                            max-height: 80px;

                            width: 10.8vh;
                            height: 10.8vh;
                        }

                        @include mq('xl') {
                            width: 12.6vh;
                            height: 12.6vh;
                        }

                        @include mq('lg') {
                            width: 80px;
                            height: 80px;
                        }

                        @include mq('md') {
                            width: 100px;
                            height: 100px;
                        }
                    }

                    .__manage{
                        background-color: #FD96EB;
                        background-image: url("/public/images/svg/menu_icon/pointer_icon.svg");
                        background-size: 32% 50%;
                    }

                    .__genplan{
                        background-color: #1E69FE;
                        background-image: url("/public/images/svg/menu_icon/genplan_icon.svg");
                        background-size: 49%;
                    }

                    .__fids{
                        background-color: #000;
                        background-image: url("/public/images/svg/menu_icon/fids_icon.svg");
                        background-size: 60% 50%;
                    }

                    .__reserve{
                        background-color: #FF663D;
                        background-image: url("/public/images/svg/menu_icon/reserve_icon.svg");
                        background-size: 40% 53%;
                    }

                    .__calc{
                        background-color: #002F8D;
                        background-image: url("/public/images/svg/menu_icon/calc_icon.svg");
                        background-size: 50%;

                    }

                    .__all{
                        background-color: #242424;
                        background-image: url("/public/images/svg/menu_icon/more_icon.svg");
                        background-size: 56% 16%;
                    }
                    
                }
            }

            &-back{
                position: absolute;
                bottom: 0;

                width: 100vw;
                height: var(--swiper-height);

                background-image: url("/public/images/svg/main_bg_second.svg");
                background-position-x: center;
                background-position-y: bottom -50vh;
                background-repeat: no-repeat;
                background-size: 100vw 118vh;

                transition: 1.5s;
                z-index: -1;

                @include mq('lg') {
                    background-image: url("/public/images/svg/main_bg.svg");
                    background-position-y: bottom;
                    background-size: 1920px 60vh;

                    position: fixed;

                    display: none;
                }
            }

            &-video{
                position: absolute;
                top: 50%;
                left: 50%;

                transform: translateX(-50%) translateY(-50%);

                max-width: 300px;
                max-height: 300px;

                min-width: 100px;
                min-height: 100px;

                width: 26vh;
                height: 26vh;

                border-radius: 20%;
                background: linear-gradient(0deg, rgba(54, 54, 54, 0.01), rgba(54, 54, 54, 0.01)), linear-gradient(0deg, #EBEDEE, #EBEDEE);

                opacity: 0;
                overflow: hidden;

                z-index: 4;
                
                transition: opacity .5s, width 1.5s, height 1.5s;
                cursor: pointer;

                @include mq('lg') {
                    display: none;
                }

                &:hover{
                    .main-block-video-btn{
                        background-color: #1E69FE;

                        svg path{
                            fill: #fff;
                        }
                    }
                }

                video{
                    display: none;

                    width: 100%;
                    height: 100%;

                    object-fit: fill;
                }

                &-btn{
                    width: 80px;
                    height: 80px;

                    position: absolute;
                    top: 50%;
                    left: 50%;

                    display: inline-flex;
                    align-items: center;
                    justify-content: center;

                    background-color: #fff;
                    border-radius: 15px;

                    transform: translateX(-50%) translateY(-50%);
                    transition: .2s;

                    svg 
                    {
                        width: 33%;
                        height: 35%;

                        path{
                            transition: .2s;
                        }
                    }
                    
                    
                }

            }
        }

        &-btn{
            position: absolute;
            top: calc(4 * (1.2 * 6.4vh) + var(--margin-title) + 58px);
            left: 50%;
            transform: translateX(-50%);

            display: inline-flex;
            align-items: center;

            height: 80px;
            padding: 0 60px;
            background-color: #1E69FE;
            border-radius: 15px;

            font-family: 'Montserrat-Bold';
            font-size: 18px;
            font-weight: 700;
            line-height: 1.2em;
            color: #fff;

            transition: background-color .2s, color .2s, top 2s ease-in-out;
            z-index: 3;
            cursor: pointer;

            @include mq('xxl') {
                top: calc(4 * (1.2 * 5.7vh) + var(--margin-title) + 40px);

                height: 60px;
                padding: 0 30px;
                border-radius: 10px;

                font-size: 14px;
            }

            @include mq('xl') {
                top: calc(4 * (1.2 * 5vh) + var(--margin-title) + 30px);
                height: 50px;
            }

            @include mq('lg') {
                position: relative;
                top: auto;
                left: auto;
                transform: none;

                margin-top: 30px;
            }

            @include mq('md') {
                grid-row: 3/4;
                margin-top: 100px;
                width: calc(100vw - 60px);
                box-sizing: border-box;
                display: inherit;
                text-align: center;
            }

            @include mq('sm') {
                margin-top: 40px;
                width: calc(100vw - 40px);
            }

            &:hover{
                background-color: #fff;
                color: #1E69FE;

                @include mq('md') {
                    background-color: #1E69FE;
                    color: #fff;
                }
            }


        }
    }

    //Блоки вертикального слайдера
    .visibility-actions{
        display: flex;
        width: auto;
        //height: 100vh;

        margin: 0 100px;

        @include mq('xxl') {
            margin: 0 60px;
        }

        @include mq('xl') {
            margin: 0 30px;
        }

        @include mq('lg') {
            margin: 0 20px;
            justify-content: center;
        }

        p{
            width: fit-content;
            height: fit-content;

            font-family: 'Montserrat-Bold';
            font-size: 26px;
            font-weight: 600;
            line-height: 1.2em;
            letter-spacing: -0.04em;
            color: #1D2848;

            white-space: pre-line;
            opacity: 0;

            transform: translateY(calc(var(--swiper-height) - 50vh - 50% + 100px));

            transition: 1s .2s ease-in-out;
            transition-delay: .2s;

            @include mq('xxl') {
                font-size: 16px;
            }

            @include mq('xl') {
                font-size: 14px;
            }

            @include mq('lg') {
                margin-top: 40px;
                width: 100%;
                transform: translateY(100px);

                font-family: 'Montserrat';
                font-size: 18px;
                white-space: initial;
                text-align: center;
            }

            span{
                color: #1E69FE;
            }

            br{
                display: none;

                @include mq('lg') {
                    display: block;
                }
            }
        }

        &.--right{
            justify-content: flex-end;

            @include mq('xxxl') {
                margin-left: 100px;
                margin-right: 75px;
            }

            @include mq('xxl') {
                margin-left: 60px;
                margin-right: 40px;
            }

            @include mq('xl') {
                margin-left: 30px;
                margin-right: 10px;
            }

            @include mq('xl') {
                margin: 0 20px;
            }
        }

        &.--center-block{
            //direction: column;
            align-items: center;
            justify-content: center;
        }

        &-content{
            transform: translateY(-40px);

            &-title{
                font-family: 'Montserrat-Bold';
                font-size: 62px;
                font-weight: 600;
                line-height: 1.2em;
                letter-spacing: -0.04em;
                text-align: center;

                color: #1D2848;

                span{
                    color: #1E69FE;
                }
            }

        }

        .--pain-container{
            display: grid;
            grid-template-columns: auto 1fr auto;
            align-items: center;
            gap: 50px;

            width: 100%;
            margin-top: 60px;

            --span-padding: 60px;

            &-btn{
                position: relative;

                height: 80px;
                padding: 0 var(--span-padding);

                border-radius: 15px;
                overflow: hidden;

                span{
                    font-family: 'Montserrat-Bold';
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 1em;
                }

                &:first-child{
                    background-color: #1E69FE;
                    color: #fff;
                }

                &:last-child{
                    background-color: #fff;
                    color: #1E69FE;

                    .--pain-container-btn-main{
                        background-color: #fff;
                    }

                    .--pain-container-btn-scroll{
                        background-color: #1E69FE;

                        span{
                            color: #fff;
                        }
                    }
                }

                &-main{
                    background-color: #1E69FE;

                    display: inline-flex;
                    align-items: center;

                    width: 100%;
                    height: 100%;
                }

                &-scroll{
                    position: absolute;
                    top: 0;
                    left: 0;

                    width: calc(var(--fill-percent) * 100%);
                    height: 100%;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    background-color: #fff;
                    border-radius: 15px;

                    overflow: hidden;
                    transition: .2s;

                    span{
                        position: absolute;
                        left: var(--span-padding);
                        color: #1E69FE;
                    }

                }

            }

            &-swipe{
                position: relative;

                width: 100%;
                height: 100px;
                border-radius: 30px;
                background-color: #fff;

                --toggle-size: 80px;

                &-toggle{
                    position: absolute;
                    top: 50%;
                    left: calc((100% - var(--toggle-size) - 20px) * var(--fill-percent) + 10px);

                    width: var(--toggle-size);
                    height: var(--toggle-size);
                    background-color: #1E69FE;
                    border-radius: 30px;

                    transform: translateY(-50%);
                    transition: .2s;

                    &::before{
                        content: "";

                        position: absolute;
                        width: 110px;
                        height: 110px;
                        border-radius: 50%;

                        top: -15px;
                        left: -15px;

                        background: linear-gradient(180deg, #7623EF 0%, #1E69FE 100%);
                        opacity: 0.6;
                        filter: blur(15px);
                    }
                }
            }
        }
        
    }

    //Стили вертикального слайдера
    .swiper{
        @include mq('lg') {
            display: none;
        }
    }

    .swiper-vertical {
        display: flex;
        flex-direction: column;
        align-items: center;

        overflow-y: hidden;
        height: var(--swiper-height);

        @include mq('lg') {
            display: none;
        }
    }

    .main-swiper-pagination {
        position: fixed;
        right: 45px;
        top: 50%;

        display: flex;
        flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;

        transform: translateY(-50%);        
        transition: opacity .5s ease .3s;

        z-index: 11;
        opacity: 1;

        @include mq('xxl') {
            right: 17px;
        }

        @include mq('xl') {
            right: 12px;
        }

        @include mq('lg') {
            top: calc(238px + 0.5 * 0.6133 * (100vw - 40px));
            right: 7px;
        }

        @include mq('md') {
            display: none;
        }
    }

    .main-swiper-pagination-bullet {
        display: none;
        width: 10px;
        height: 10px;
        margin: 10px 0;
        background-color: #D4D4D4;
        border-radius: 5px;

        transition: height .8s ease-in-out, background-color .5s ease-in-out;

        @include mq('xxl') {
            width: 6px;
            height: 6px;
            margin: 6px 0;
            border-radius: 2.4px;
        }

        &.main-swiper-pagination-bullet-active {
            height: 40px;
            background-color: #1E69FE;

            @include mq('xxl') {
                height: 24px;
                border-radius: 3px;
            }
        }

        &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5){
            display: inline-block
        }
    }

    .swiper-slide-active{
        
        p{
            opacity: 1;
            transform: translateY(calc(var(--swiper-height) - 50vh - 50% ));
        
            @include mq('lg') {
                transform: none;
            }
        }
    }

    .swiper-slide-prev{
        p{
            opacity: 0;
            transform: translateY(calc(var(--swiper-height) - 50vh - 50% - 100px ));
            transition-delay: .2s;

            @include mq('lg') {
                transform: translateY(-100px);
            }
        }
    }

    .swiper-slide-next{
        p{
            @include mq('lg') {
                opacity: 0;
                transition: .2s;
            }
        }
    }

    //Кнопка по всей странице
    &-btn{
        position: fixed;
        left: 50%;
        bottom: 40px;
        transform: translateX(-50%);

        display: inline-flex;
        align-items: center;
        justify-content: center;

        height: 85px;
        padding: 0 60px;

        background-color: #1E69FE;
        border-radius: 15px;
        
        font-family: 'Montserrat-Bold';
        font-size: 18px;
        font-weight: 800;
        line-height: 1em;
        letter-spacing: -0.04em;
        text-align: left;
        color: #fff;

        z-index: 10;
        transition: .2s ease-in-out;
        cursor: pointer;

        opacity: 0;
        visibility: collapse;

        &:hover{
            background-color: #fff;
            color: #1E69FE;
        }

        &.--show{
            visibility: visible;
            opacity: 1;
        }


        
    }

    //Стили блока карточек
    &-cards{
        position: relative;
        height: 100vh;
        overflow: hidden;
        padding-bottom: calc(4 * (100vh - var(--card-margin)));

        *{
            box-sizing: border-box;
        }

        &-wrapper{
            height: 100vh;
            width: 100vw;

            display: flex;
            align-items: center;
            justify-content: center;
        }

        &-bg{
            position: absolute;
            top: 0;
            left: 0;
            transform: translateY(50%);

            width: 100vw;
            height: 50vh;
            background-image: url("/public/images/pages/block_card_bg.svg");
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            filter: blur(80px);

            opacity: 0;

            z-index: -1;
            transition: .5s ease-in-out;
        }
    }

    &-card{
        position: relative;

        max-width: 1080px;
        height: fit-content;
        width: 100%;

        margin: 0 auto;
        margin-top: 100vh;
        z-index: 1;

        &-wrapper{
            width: 100%;
            padding: 50px 95px;

            background-color: #fff;
            border-radius: 30px;
            box-shadow: 0px -4px 10px 0px #1D28481A;

            transition: .5s ease-in-out;
        }

        &:nth-child(1){
            z-index: 1;
            margin-top: 10px;
        }
  
        &:nth-child(2){
            z-index: 2;
            margin-top: 100vh;

            .main_page-card-content-images{
                &-wrapper{
                    &:first-child{
                        .main_page-card-content-images-wrapper-item{
                            border: 2px dashed rgba($color: #1D2848, $alpha: 0.4);    
                        
                            &::before{
                                content: "";
                                display: block;
    
                                position: absolute;
                                top: 50%;
                                left: 50%;
    
                                width: 80px;
                                height: 50px;
                                transform: translateY(-50%);
    
                                background-image: url("/public/images/svg/main_page/card_curve.svg");
                                background-repeat: no-repeat;
                                background-size: 100% 100%;
                            }
                        }
                    }

                    &-item{
                        border: none;
                    }
                }
            }
        }

        &:nth-child(3){
            z-index: 3;
            margin-top: calc(200vh - var(--card-margin));

            .main_page-card-content-images{
                &-wrapper{
                    &:first-child{
                        .main_page-card-content-images-wrapper-back{
                            display: block;
                            transform: translateX(22px);

                            background-color: inherit;
                            background-image: url("/public/images/svg/main_page/card_drag.svg");
                            background-repeat: no-repeat;
                            background-position: center center;
                            filter: none;

                            &::before{
                                content: '';
                                display: block;
                                position: absolute;

                                top: 0;
                                left: 0;
                                bottom: 0;
                                right: 0;

                                border-radius: 18px;
                                background-color: rgba($color: #1E69FE, $alpha: 0.4);
                                filter: blur(10px);
                            }
                        }
                    }

                    &-back{
                        display: none;
                    }

                    &-item svg{
                        opacity: 0.4;
                    }
                }
            }
        }

        &:nth-child(4){
            z-index: 4;
            margin-top: calc(300vh - 2 * var(--card-margin));
            
            .main_page-card-content-text{
                max-width: 420px;
            }
            
            .main_page-card-content-images{
                &-wrapper{
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: repeat(4, 1fr);

                    height: 100px;

                    border: 2px dashed rgba($color: #1D2848, $alpha: 0.4);
                    border-radius: 18px;

                    &::before{
                        display: none;
                    }

                    &:first-child{
                        grid-column: 1/3;

                        .main_page-card-content-images-wrapper-item:nth-child(2)::before{
                            content: '';
                            display: block;
                            position: absolute;
                            top: 0;
                            left: 0;
                            bottom: 0;
                            right: 0;

                            background-color: rgba($color: #1E69FE, $alpha: 0.4);
                            filter: blur(10px);
                        }
                    }

                    &:last-child{
                        grid-template-columns: 1fr 1fr;

                        .main_page-card-content-images-wrapper-item{
                            border: none;

                            &:nth-child(1){
                                grid-row: 1/2;
                                border-bottom: 2px dashed rgba($color: #1D2848, $alpha: 0.4);
                            }
    
                            &:nth-child(2){
                                grid-row: 1/3;
                                border-bottom: 2px dashed rgba($color: #1D2848, $alpha: 0.4);
                                border-left: 2px dashed rgba($color: #1D2848, $alpha: 0.4);
                            }
                            
                            &:nth-child(3){
                                grid-row: 3/5;
                            }

                            &:nth-child(4){
                                grid-row: 3/5;
                                border-left: 2px dashed rgba($color: #1D2848, $alpha: 0.4);

                                &::before{
                                    content: '';
                                    display: block;
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    bottom: 0;
                                    right: 0;
        
                                    background-color: rgba($color: #1E69FE, $alpha: 0.4);
                                    filter: blur(10px);   
                                }
                            }
                        }
                    }

                    &-item{
                        position: relative;
                        top: auto;
                        left: auto;
                        bottom: auto;
                        right: auto;

                        border-radius: 0;
                        border: none;
                        border-bottom: 2px dashed rgba($color: #1D2848, $alpha: 0.4);
                        
                        &:nth-child(2){
                            padding-left: 10px;
                            justify-content: flex-start;
                        }
                        
                        &:last-child{
                            border: none;
                        }

                        &-text{
                            font-size: 15px;
                        }
                    }
                }
            }
        
        }

        &:nth-child(5){
            z-index: 5;
            margin-top: calc(400vh - 3 * var(--card-margin));
        
            .main_page-card-content-images{
                &-wrapper{

                    &:nth-child(1), &:nth-child(2){
                        .main_page-card-content-images-wrapper-back{
                            display: none;
                        }

                        &::before{
                            content: '';
                            display: block;
                            position: absolute;

                            top: 50%;
                            right: 0;
                            transform: translate(100%, -50%);

                            width: 22px;
                            height: 2px;
                            padding: 0;
                            border-bottom: 2px dashed rgba($color: #1D2848, $alpha: 0.4);
                        }

                        svg{
                            opacity: 0.4;
                        }
                    }
                }
            }
        }

        &-content{
            width: 100%;
            padding-bottom: 50px;

            display: grid;
            grid-template-columns: 1.4fr 1fr;
            align-items: center;

            &-text{
                font-family: 'Montserrat-Bold';
                font-size: 26px;
                font-weight: 600;
                line-height: 1.3em;
                letter-spacing: -0.04em;

                color: rgba($color: #1D2848, $alpha: 0.4);
            }

            &-images{
                padding-left: 30px;
                width: 100%;

                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 22px;

                &-wrapper{
                    position: relative;
                    width: 100%;


                    &::before{
                        content: "";
                        display: block;
                        padding-bottom: 100%;
                    }

                    &-back{
                        position: absolute;
                        left: 0;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        background-color: rgba($color: #1E69FE, $alpha: 0.4);
                        filter: blur(10px);

                    }

                    &-item{
                        position: absolute;
                        left: 0;
                        top: 0;
                        right: 0;
                        bottom: 0;

                        display: inline-flex;
                        align-items: center;
                        justify-content: center;

                        border: 2px dashed rgba($color: #1D2848, $alpha: 0.4);
                        border-radius: 18px;

                        &-text{
                            font-family: 'Montserrat';
                            font-size: 9px;
                            font-weight: 600;
                            line-height: 1.3em;
                            text-align: center;

                            color: #1E69FE;
                        }
                    }
                }
            }
        }

        &.--fixed{
            position: fixed;
            top: 50%;
            left: 50%;

            margin-top: 0;
            transform: translate(-50%, -50%);
        }

        &-title{
            padding-top: 50px;
            border-top: 1px solid rgba($color: #1D2848, $alpha: 0.2);

            font-family: 'Montserrat-Bold';
            font-size: 28px;
            font-weight: 600;
            line-height: 1.3em;
            letter-spacing: -0.04em;
            text-align: center;

            span{
                color: #1E69FE;
            }

        }
    }
}

html
{
    &.--no-slide{
        .main_page-slider-btn{
            animation: fadeIn;
            animation-duration: 1.5s;
            animation-delay: .8s;

            transition: opacity 0s .8s, background-color 0.2s, color 0.2s, top 2s ease-in-out;

            @include mq('md') {
                animation: fadeInUp;
                animation-duration: 1s;
                animation-delay: 1s;
                transition: opacity 0s .1s;
            }
        }

        .main-block-content-menu{
            animation: fadeInUp;
            animation-duration: 1.5s;
            animation-delay: 1s;

            @include mq('md') {
                animation: fadeIn;
                animation-duration: 1s;
                animation-delay: .7s;

                transition: opacity 0s .7s;
            }
        }
    }

    &.first-slide-active{
        .main-block-title{
            animation: fadeInDown;
            animation-duration: 1.5s; 
        }

        .main-block-content-menu{
            @media screen and (min-width: 959px) {
                transition: opacity .2s 1s, transform 1s ease-in-out;

                &-link{
                    transition: transform .5s ease-in-out;

                    &:nth-child(1){
                        transform: none;
                    }
        
                    &:nth-child(2){
                        transform: none;
                    }
        
                    &:nth-child(3){
                        transform: none;
                    }
        
                    &:nth-child(4){
                        transform: none;
                    }
        
                    &:nth-child(5){
                        transform: none;
                    }
        
                    &:nth-child(6){
                        transform: none;
                    }

                    &:hover{
                        transform: scale(1.1);
                    }
                }
            }

            @include mq('lg') {
                //!!!Добавить!!!
            }

            @include mq('md') {
                transform: translateY(0);
                opacity: 1;
                visibility: visible;
        
                transition: 1s ease-in-out;
            }
        }

        .main-swiper-pagination{
            opacity: 0;
            transition: opacity .5s ease;
        }

        @include mq('md') {
            .main_page-slider-btn{
                transform: translateY(0);
                opacity: 1;
                visibility: visible;
    
                transition: 1s ease-in-out;
            }
        }
    }
    
    &:not(.first-slide-active){
        .main-block{
            max-width: 106.667vh;
        }

        .main-block-title{
            animation: fadeOutUp; /* referring directly to the animation's @keyframe declaration */
            animation-duration: 1.5s; /* don't forget to set a duration! */
            animation-delay: 0.2s;

            opacity: 0;
            transition: opacity 0s 1.5s;
        }
    
        .main-block-content-menu{

            @media screen and (min-width: 959px) {
                transform: translateY( calc(-0.5 * var(--swiper-height) + 40px + 50%));
                transition-delay: .4s;
                
                &-link{                
                    &:nth-child(1){
                        transform: translateX(calc(2.5 * (100% + var(--gap-menu-item))));
                    }
        
                    &:nth-child(2){
                        transform: translateX(calc(1.5 * (100% + var(--gap-menu-item))));
                    }
        
                    &:nth-child(3){
                        transform: translateX(calc(0.5 * (100% + var(--gap-menu-item))));
                    }
        
                    &:nth-child(4){
                        transform: translateX(calc(-0.5 * (100% + var(--gap-menu-item))));
                    }
        
                    &:nth-child(5){
                        transform: translateX(calc(-1.5 * (100% + var(--gap-menu-item))));
                    }
        
                    &:nth-child(6){
                        transform: translateX(calc(-2.5 * (100% + var(--gap-menu-item))));
                    }
                }
            }

            @include mq('lg') {
                transform: translateX(-50%) translateY(-100px);
                opacity: 0;
                visibility: hidden;

                transition: 1s ease-in-out;
            }

            @include mq('md') {
                transform: translateY(-100px);
            }
        }

        .main_page-slider-btn{
            top: calc(var(--swiper-height) - 40px - 80px);
            transition: transform 1s, background-color .2s, color .2s, top 2s, bottom 2s ease-in-out, z-index 0s 2s;
            z-index: 3;

            @include mq('xxl') {
                top: calc(var(--swiper-height) - 30px - 60px);
            }

            @include mq('xl') {
                top: calc(var(--swiper-height) - 30px - 50px);
            }

            @include mq('lg') {
                top: calc(var(--swiper-height) - 20px - 50px);
            }

            @include mq('md') {
                top: auto;
            }
        }

        .main-block-video{
            opacity: 1;
            transform: translateX(-50%) translateY(calc(-50% - 0.5 * (100vh - var(--swiper-height))));

            width: 100%;
            height: 100%;
            max-width: 106.667vh;
            max-height: 60vh;

            border-radius: 30px;
            transition: opacity 0.5s 1.5s, width 2s 1.5s, height 2s 1.5s, border-radius .5s 1.5s, transform 1.5s 1.5s;
        
            @include mq('xxxl') {
                max-width: 100vh;
                max-height: 61vh;
            }

            @include mq('xxl') {
                max-width: 58vw;
                max-height: 57vh;
            }

            @include mq('xl') {
                max-width: 57.5vw;
                max-height: 47.87vh;
            }

            @include mq('lg') {
                max-width: none;
                max-height: none;

                width: calc(100vw - 40px);
                height: calc(0.6133 * (100vw - 40px));

                top: 0;
                transform: translateX(-50%) translateY(126px);
            }

            @include mq('lg') {

            }

            video{
                display: block;
                transition: 0s;
            }
        }

        .main-block-back{
            /*
            height: calc(var(--swiper-height) - 2 * 60px);
            width: calc(2.385 * (var(--swiper-height) - 2 * 60px));

            bottom: calc(var(--swiper-height) / 2);
            transform: translateX(-50%) translateY(50%);
            

            //bottom: 50%;
            //transform: translateY(50%);
            */
            
            @media screen and (min-width: 959px) {
                background-image: url("/public/images/svg/main_bg_second.svg");
                background-position-y: center;
                background-size: 100vw var(--swiper-height);

                transition-delay: .4s;
            }

            @include mq('lg') {
                opacity: 0.5;
            }
        }

        &:not(.no-slide-pagination){
            .main-block, .main_page-slider-btn{
                opacity: 1;
                transform: translateY(0);
                visibility: visible;

                transition: .5s;
            }

            .main_page-slider-btn{
                transform: translateX(-50%) translateY(0);

                @include mq('md') {
                    transform: translateY(-100px);
                    opacity: 0;
                    visibility: hidden;

                    transition: 1s ease-in-out;
                }
            }
        }
    }

    &.no-slide-pagination{
        .main-swiper-pagination{
            opacity: 0;
            transition: opacity .5s ease;
        }

        .main_page-slider{
            .main-block, .main_page-slider-btn{
                opacity: 0;
                transform: translateY(-100px);
                visibility: hidden;
                z-index: -1;

                transition: .5s;
            }

            .main_page-slider-btn{
                transform: translateX(-50%) translateY(-100px);

                @include mq('md') {
                    display: none;
                }
            }
        }

    }
}

.--mobile{

    *{
        box-sizing: border-box;
    }
    
    .main-block-background{
        display: block;

        position: absolute;
        top: 382px;
        left: 50%;
        transform: translateX(-50%);

        width: 1250px;
        height: 950px;

        background: linear-gradient(180deg, #7623EF 0%, #1E69FE 50%, #F500CC 100%);
        opacity: .2;

        filter: blur(20px);

        z-index: 2;
    }

    .video-block{
        position: relative;
        margin: 0 20px;
        margin-top: 80px;
        padding: 0 15px;

        background-color: #fff;
        border-radius: 30px;

        z-index: 3;

        @include mq('md') {
            margin: 0 15px;
            margin-top: 60px;
        }

        @include mq('sm') {
            border-radius: 10px;
        }


        &-item{
            padding: 35px 0;

            display: grid;
            grid-template-rows: repeat(3, auto);
            row-gap: 35px;
            justify-items: center;

            border-bottom: 1px solid rgba($color: #1D2848, $alpha: 0.2) ;

            &:last-child{
                border: none;
            }

            &-title{
                font-family: 'Montserrat-Bold';
                font-size: 18px;
                font-weight: 600;
                line-height: 1.2em;
                letter-spacing: -0.04em;
                text-align: center;

                color: #1D2848;

                @include mq('md') {
                    font-size: 24px;
                    max-width: 400px;
                }

                @include mq('sm') {
                    font-size: 20px;

                    br.--br-no-mobile{
                        display: none;                    
                    }

                    br.--br-mobile{
                        display: block;                    
                    }
                    
                }

                span{
                    color: #1E69FE;
                }

                .--br-mobile{
                    display: none;                    
                }
            }

            &-btn{
                width: fit-content;
                height: 50px;
                padding: 0 30px;

                display: inline-flex;
                align-items: center;
                justify-content: center;

                background-color: #fff;
                border: 1px solid #1E69FE;
                border-radius: 10px;

                font-family: 'Montserrat-Bold';
                font-size: 14px;
                font-weight: 700;
                line-height: 1.2em;
                color: #1E69FE;

                cursor: pointer;

                @include mq('md') {
                    width: 100%;
                }
            }

            &-wrapper{
                grid-row: 2/3;

                position: relative;
                width: 100%;

                border-radius: 30px;
                overflow: hidden;

                @include mq('md') {
                    grid-row: auto;
                    border-radius: 10px;
                }
    
                &::before {
                    content: "";
                    display: block;
                    padding-top: 56.252%;
                }

                &-video{
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;

                    video{
                        width: 100%;
                        height: 100%;
                        object-fit: fill;

                        //border-radius: 100px;
                    }
                }

            }
        }

    }

}

