.main_page{

    .first_block{
        //width: 100%;
        border-radius: 60px;

        height: 949px;

        background-image: url("/public/images/pages/main_block_bg.svg");
        background-repeat: no-repeat;
    }

}

