@font-face {
    font-family: 'Helvetica-Regular';
    src: url("../fonts/Helvetica-Regular.woff") format("woff");

    font-style: normal;
}
@font-face {
    font-family: 'Helvetica-Bold';
    src: url("../fonts/Helvetica-Bold.woff") format("woff");

    font-style: normal;
}
