@font-face {
    font-family: 'Helvetica-Regular';
    src: url("../fonts/Helvetica-Regular.woff") format("woff");

    font-style: normal;
}
@font-face {
    font-family: 'Helvetica-Bold';
    src: url("../fonts/Helvetica-Bold.woff") format("woff");

    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/Montserrat-Regular.woff") format("woff");
    src: url("../fonts/Montserrat-Regular.ttf");
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat-Bold';
    src: url("../fonts/Montserrat-Bold.woff") format("woff");
    src: url("../fonts/Montserrat-Bold.ttf");
    font-style: normal;
}
