//-----------------------------------
//   Footer
//-----------------------------------
.footer{
    min-width: 360px;
    width: 100vw;
    
    a{
        width: fit-content;

        font-family: 'Montserrat-Bold';
        font-size: 32px;
        font-weight: 500;
        line-height: 1.2em;
        letter-spacing: -0.04em;
        color: #1D2848;

        transition: .2s;

        @include mq('xxxl') {
            font-size: 20px;
        }

        @include mq('xxl') {
            font-size: 14px;
        }

        @include mq('sm') {
            font-size: 12px;
        }

        &:hover{
            color: #1E69FE;

            @include mq('lg') {
                color: #1D2848;
            }
        }
    }

    .l-main-content{
        padding: 100px 0;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        row-gap: 160px;
        column-gap: 60px;

        @include mq('xxxl') {
            padding: 60px 0;
            row-gap: 80px;
            column-gap: 120px;
        }

        @include mq('xxl') {
            padding: 40px 0;
            row-gap: 70px;
            column-gap: 85px;
        }

        @include mq('lg') {
            grid-template-columns: repeat(3, 1fr);
            row-gap: 40px;
            column-gap: 80px;
        }

        @include mq('md') {
            grid-template-columns: 1fr 1fr;
            row-gap: 50px;
            column-gap: 100px;
        }

        @include mq('sm') {
            column-gap: 40px;
            padding: 30px 0;
        }    
    }

    &-logo{
        width: 230px;
        height: 50px;
        background-image: url("/public/images/svg/main_logo.svg");
        background-repeat: no-repeat;
        background-size: contain;

        align-self: center;

        @include mq('xxxl') {
            width: 220px;
            height: 50px;
        }

        @include mq('xxl') {
            width: 126px;
            height: 28px;
        }

        @include mq('lg') {
            grid-column: 1/3;
        }

        @include mq('md') {
            width: 135px;
            height: 30px;

            grid-column: 1/-1;
        }

        @include mq('sm') {
            width: 108px;
            height: 24px;
        }
    }
  
    &-contact{
        grid-column: 2/4;
        grid-row: 1/2;

        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 60px;

        @include mq('xxxl') {
            column-gap: 120px;
        }

        @include mq('xxl') {
            column-gap: 85px;
        }

        @include mq('xl') {
            grid-template-columns: min-content min-content;
            column-gap: 30px;
        }

        @include mq('lg') {
            grid-column: 1/-1;
            grid-row: 2/3;

            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 80px;
        }

        @include mq('md') {
            grid-column: 1/-1;
            grid-row: 3/4;

            grid-template-columns: 1fr 1fr;
            column-gap: 100px;
        }

        @include mq('sm') {
            column-gap: 40px;
        }

        .footer-block {

            @include mq('xxxl') {
                gap: 20px;
            }

            @include mq('xl') {
                gap: 15px;
            }

            @include mq('lg') {
                &:last-child{
                    grid-column: 2/-1;   
                }
            }

            a{
                font-family: 'Montserrat-Bold';
                font-weight: 600;

                @include mq('xxl') {
                    font-family: 'Montserrat';
                }
            }  
        }
    }

    &-block{
        display: flex;
        flex-direction: column;
        gap: 40px;

        white-space: nowrap;

        @include mq('xxxl') {
            gap: 30px;
        }

        @include mq('xxl') {
            gap: 20px;
        }

        @include mq('xl') {
            gap: 15px;
        }

        @include mq('lg') {
            &:nth-child(4){
                grid-column: 1/2;
                grid-row: 3/5;
            }

            &:nth-child(6){
                grid-column: 3/4;
                grid-row: 3/5;
            }

            &:nth-child(7){
                grid-column: 2/3;
                grid-row: 3/4;
            }

            &:nth-child(5){
                grid-column: 2/3;
                grid-row: 4/5;
            }
        }

        @include mq('md') {
            &:nth-child(4){
                grid-column: 1/2;
                grid-row: 4/7;
            }

            &:nth-child(6){
                grid-column: 2/3;
                grid-row: 4/6;
            }

            &:nth-child(5){
                grid-column: 1/2;
                grid-row: 7/8;
            }

            &:nth-child(7){
                grid-column: 2/3;
                grid-row: 6/8;
            }
        }

        &-title{
            margin: 0;

            font-family: 'Montserrat';
            font-size: 32px;
            font-weight: 500;
            line-height: 1.2em;
            letter-spacing: -0.04em;
            color: #A5A9B6;
            white-space: nowrap;

            //opacity: 0.3;

            @include mq('xxxl') {
                font-size: 20px;
            }

            @include mq('xxl') {
                font-size: 14px;
            }
    
            @include mq('sm') {
                font-size: 12px;
            }
        }
    }

    &-btn{
        width: 100%;
        align-self: center;

        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;

        @include mq('xxl') {
            gap: 20px;
        }

        @include mq('md') {
            grid-column: 1/-1;
            grid-row: 2/3;

            grid-template-columns: 1fr;
            margin-top: -10px;
        }

        @include mq('sm') {
            gap: 10px;
            margin-top: -20px;
        }

        a{
            width: 100%;
            height: 60px;
            border-radius: 10px;

            display: inline-flex;
            align-items: center;
            justify-content: center;

            box-sizing: border-box;
            transition: .2s ease-in-out;

            @include mq('xxxl') {
                height: 50px;
                border-radius: 8px;
            }

            @include mq('xxl') {
                height: 33px;
                border-radius: 5px;
            }

            @include mq('xl') {
                height: 41px;
                border-radius: 5px;

                position: absolute;
                width: 100px;
                top: 40px;
            }

            @include mq('md') {
                position: relative;
                width: 100%;
                height: 49px;
                border-radius: 10px;
                top: auto;
            }

            @include mq('sm') {
                height: 40px;
            }

            span{
                font-family: 'Montserrat-Bold';
                font-size: 20px;
                font-weight: 700;
                line-height: 1.15em;
                //color: #fff;
            
                transition: .2s ease-in-out;

                @include mq('xxxl') {
                    font-size: 16px;
                }

                @include mq('xxl') {
                    font-size: 12px;
                }

                @include mq('sm') {
                    font-weight: 700;
                }
            }
        }

        &-login{
            background-color: #fff;

            @include mq('xl') {
                right: 150px;
            }

            @include mq('lg') {
                right: 140px;
            }

            @include mq('md') {
                right: auto;
            }

            span{
                color: #1E69FE;
            }

            &:hover{
                background-color: #1E69FE;

                @include mq('md') {
                    background-color: transparent;
                }

                span{
                    color: #fff;

                    @include mq('md') {
                        color: #1E69FE;
                    }
                }
            }
        }

        &-reg{
            background-color: #1E69FE;

            @include mq('xl') {
                right: 30px;
            }

            @include mq('lg') {
                right: 20px;
            }

            @include mq('md') {
                right: auto;
            }

            span{
                color: #fff;
            }

            &:hover{
                background-color: #fff;

                @include mq('md') {
                    background-color: #1E69FE;
                }

                span{
                    color: #1E69FE;

                    @include mq('md') {
                        color: #fff;
                    }
                }
            }
        }        
    }

    &-copirite{
        grid-column: 1/3;

        @include mq('xl') {
            grid-column: 1/-1;
            display: inline-flex;
            justify-content: space-between;
            flex-direction: row-reverse;
        }

        @include mq('sm') {
            grid-column: 1/-1;
            display: inline-flex;
            justify-content: space-between;
            flex-direction: column;

            gap: 20px;
        }


        &-sk{
            display: inline-flex;
            align-items: center;
            gap: 40px;

            @include mq('xxxl') {
                gap: 20px;
            }

            @include mq('xxl') {
                gap: 10px;
            }

            &-image{
                width: 61px;
                height: 61px;

                background-image: url("/public/images/svg/sk_logo.svg");
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;

                @include mq('xxxl') {
                    width: 38px;
                    height: 38px;
                }

                @include mq('xxl') {
                    width: 27px;
                    height: 27px;
                }

                @include mq('sm') {
                    width: 24px;
                    height: 24px;
                }
            }

            p{
                font-family: 'Montserrat';
                font-size: 32px;
                font-weight: 400;
                line-height: 1.2em;
                letter-spacing: -0.04em;
                white-space: nowrap;

                color: #1D2848;

                @include mq('xxxl') {
                    font-size: 20px;
                }

                @include mq('xxl') {
                    font-size: 14px;
                }

                @include mq('sm') {
                    font-size: 12px;
                }
            }
        }

        &-text{
            margin-top: 30px;

            font-family: 'Montserrat';
            font-size: 32px;
            font-weight: 400;
            line-height: 1.2em;
            letter-spacing: -0.04em;
            white-space: nowrap;

            color: #1D2848;

            @include mq('xxxl') {
                margin-top: 26px;
                font-size: 20px;
            }

            @include mq('xxl') {
                font-size: 14px;
            }

            @include mq('xl') {
                margin-top: 0;
            }

            @include mq('sm') {
                font-size: 12px;

                br{
                    display: none;
                }
            }
        }
    }

    &-links{
        grid-column: 3/-1;
        height: fit-content;

        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 40px;

        @include mq('xxxl') {
            gap: 30px;
        }

        @include mq('xxl') {
            gap: 20px;
        }

        @include mq('xl') {
            grid-column: 1/-1;
            grid-row: 3/4;
            row-gap: 30px;
            column-gap: 80px;
        }

        @include mq('lg') {
            margin-top: 10px;
            grid-column: 1/-1;
            grid-row: 5/6;

            row-gap: 20px;
            column-gap: 30px;
        }

        @include mq('md') {
            grid-row: 8/9;

            margin-top: 0;
            row-gap: 30px;
            column-gap: 15px;
        }

        @include mq('sm') {
            row-gap: 20px;
            column-gap: 15px;
        }

        &__link{
            width: fit-content;

            font-family: 'Montserrat';
            font-size: 32px;
            font-weight: 400;
            line-height: 1.2em;
            white-space: nowrap;
            color: #A5A9B6;
            transition: .2s ease-in-out;
            cursor: pointer;

            @include mq('xxxl') {
                font-size: 20px;
            }

            @include mq('xxl') {
                font-size: 14px;
            }
    
            @include mq('sm') {
                font-size: 12px;
            }

            &:hover{
                color: #1E69FE;

                @include mq('lg') {
                    color: #A5A9B6;
                }
            }
        }
    }
}