//-----------------------------------
//   Header
//-----------------------------------
.header{
    padding: 40px 0;
    min-width: 360px;
    z-index: 9;

    position: sticky;
    top: 0;

    background: rgb(239,240,240);
    background: -moz-linear-gradient(180deg, rgba(239,240,240,1) 80%, rgba(239,240,240,0.499019676229867) 90%, rgba(239,240,240,0) 100%);
    background: -webkit-linear-gradient(180deg, rgba(239,240,240,1) 80%, rgba(239,240,240,0.499019676229867) 90%, rgba(239,240,240,0) 100%);
    background: linear-gradient(180deg, rgba(239,240,240,1) 80%, rgba(239,240,240,0.499019676229867) 90%, rgba(239,240,240,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eff0f0",endColorstr="#eff0f0",GradientType=1); 

    @include mq('xxl') {
        padding: 10px 0;
    }

    @include mq('xl') {
        padding: 20px 0;
    }

    @include mq('md') {
        padding: 30px 0;
    }

    @include mq('sm') {
        padding: 20px 0;
    }

    a{
        text-decoration: none;
        transition: .2s;
        color: #fff;
    }

    .l-main-content{
        //display: flex;
        //flex-wrap: nowrap;
        display: grid;
        grid-template-columns: 1fr max-content 1fr;
        align-items: center;

        position: relative;
        z-index: 10;

        @include mq('lg') {
            margin: 0 10px;

            display: grid;
            grid-template-columns: 130px 1fr;
            grid-template-rows: 40px auto;
            gap: 20px;
        }

        @include mq('md') {
            margin: 0 15px;

            grid-template-columns: 135px 1fr 170px;
            grid-template-rows: 50px;
            gap: 15px;
        }

        @include mq('sm') {
            margin: 0 10px;

            grid-template-columns: 108px 1fr 140px;
            grid-template-rows: 40px;
            gap: 10px;
        }
    }

    &__icon{
        width: 230px;
        height: 50px;
        background-image: url("/public/images/svg/main_logo.svg");
        background-repeat: no-repeat;
        background-size: contain;

        @include mq('xxxl') {
            width: 220px;
            height: 49px;
        }

        @include mq('xxl') {
            width: 126px;
            height: 28px;
        }

        @include mq('md') {
            width: 135px;
            height: 30px;
        }

        @include mq('sm') {
            width: 108px;
            height: 24px;
        }
    }

    &-menu{
        flex-grow: 1;

        display: inline-flex;
        justify-content: center;

        @include mq('lg') {
            grid-column: 1/-1;
            grid-row: 2/3;
        }

        @include mq('md') {
            display: none;
        }

        a{
            text-decoration: none;
            transition: .2s;
    
            font-family: 'Montserrat';
            font-weight: 500;
            font-size: 20px;
            line-height: 1em;
            color: #1D2848;
    
            @include mq('xxxl') {
                font-size: 16px;
                line-height: 1.15em;
            }
    
            @include mq('xxl') {
                font-size: 12px;
            }
        }

        ul{
            display: inline-flex;
            margin: 0;
            padding: 0;

            @include mq('lg') {
                width: 100%;

                display: grid;
                grid-template-columns: calc(50.2px + (100% - 166.8px) / 6) calc(36.1px + (100% - 166.8px) / 3) calc(26.9px + (100% - 166.8px) / 3) calc(53.6px + (100% - 166.8px) / 6);
                justify-items: center;
                align-items: center;
            }
            
            li{
                position: relative;
                margin: 0 40px;
                list-style: none;

                @include mq('xxxl') {
                    margin: 0 30px;
                }

                @include mq('xxl') {
                    margin: 0 20px;
                }

                @include mq('xl') {
                    margin: 0 17px;
                }

                @include mq('lg') {
                    width: 100%;
                    margin: 0;
                    border-right: 1px solid #1D2848;

                    text-align: center;
                }

                &::before {
                    content: " ";

                    position: absolute;
                    left: -39.5px;

                    width: 1px;
                    height: 23px;
                    background-color: #1D2848;
                    color: #1D2848;
                    opacity: 0.1;

                    @include mq('xxxl') {
                        left: -29.5px;
                        bottom: 0px;
                        height: 19px;
                    }

                    @include mq('xxl') {
                        height: 13px;

                        left: -19.5px;
                        bottom: 3px;
                    }

                    @include mq('xxl') {
                        left: -16.5px;
                    }

                    @include mq('lg') {
                        display: none;
                    }
                }

                &:hover .header-menu__main_link{
                    color: #1E69FE;
                }

                &:first-child{

                    &::before{
                        display: none;
                    }

                    &:hover{
                        .header-ex-menu{
                            display: block;

                            @include mq('lg') {
                                display: none;
                            }
                        }
                    }

                    @include mq('lg') {
                        text-align: left;
                    }
                }

                &:last-child{
                    @include mq('lg') {
                        text-align:right;
                        border: none;
                    }
                }
            }
        }        
    }

    &-right{
        justify-self: end;

        display: inline-flex;
        align-items: center;

        gap: 30px;

        opacity: 1;
        transition: opacity 1s ease-in-out;

        @include mq('xl') {
            gap: 20px;
        }

        @include mq('lg') {
            height: 100%;
            justify-content: end;
        }

        @include mq('md') {
            grid-column: 3/4;
            justify-self: start;

            display: grid;
            grid-template-columns: repeat(3, max-content);
            gap: 10px;
        }

        &-phone{
            font-family: 'Montserrat-Bold';
            font-size: 18px;
            line-height: 1.15em;
            font-weight: 600;

            @include mq('xxxl') {
                font-size: 16px;
            }

            @include mq('xxl') {
                font-size: 12px;
            }

            @include mq('md') {
                grid-column: 2/3;
                grid-row: 1/1;
                
                width: 50px;
                height: 50px;
                border-radius: 10px;

                box-sizing: border-box;
                display: inline-flex;
                align-items: center;
                justify-content: center;

                background-image: url("/public/images/svg/menu_icon/phone_icon.svg");
                background-repeat: no-repeat;
                background-position: center;
                background-color: #FFFFFF;            

                span{
                    display: none;
                }
            }

            @include mq('sm') {
                width: 40px;
                height: 40px;

                background-size: 10px 12px;
            }
            
            span{
                transition: .2s;
                color: #1D2848;
            }

            &:hover span{
                color: #1E69FE;
            }
        }

        &-btn{
            width: 200px;
            height: 60px;
            border-radius: 10px;

            box-sizing: border-box;
            display: inline-flex;
            align-items: center;
            justify-content: center;

            background-color: #FFFFFF;            
            transition: .2s;

            @include mq('xxxl') {
                width: 160px;
                height: 50px;
            }

            @include mq('xxl') {
                width: 100px;
                height: 40px;
                border-radius: 8px;
            }

            span{
                font-family: 'Montserrat-Bold';
                font-size: 20px;
                font-weight: 700;
                line-height: 1em;
                color: #1E69FE;

                transition: .2s;

                @include mq('xxxl') {
                    font-size: 16px;
                    line-height: 20.7px;
                }

                @include mq('xxl') {
                    font-size: 12px;
                    line-height: 1.15em;
                }
            }

            &:hover{
                background-color: #1E69FE;            
                
                span{
                    color: #fff;
                }
            }

            @include mq('md') {
                grid-column: 1/2;
                width: 50px;
                height: 50px;
                border-radius: 10px;

                box-sizing: border-box;
                display: inline-flex;
                align-items: center;
                justify-content: center;

                background-image: url("/public/images/svg/menu_icon/user_icon.svg");
                background-repeat: no-repeat;
                background-position: center;

                &:hover{
                    background-color: #fff;            
                }

                span{
                    display: none;
                }
            }

            @include mq('sm') {
                width: 40px;
                height: 40px;

                background-size: 12px;
            }

        }
    }

    &-mobile-button{
        position: absolute;
        top: 0;
        right: 0;

        display: none;

        width: 50px;
        height: 50px;
        border-radius: 10px;

        box-sizing: border-box;

        align-items: center;
        justify-content: center;

        background-color: #1E69FE;
        cursor: pointer;

        &-container{
            position: relative;

            width: 12px;
            height: 11px;

            transform: rotate(0deg);
            transition: .5s ease-in-out;
        }

        span{
            display: block;
            position: absolute;

            height: 1px;
            width: 12px;
            background: #fff;
            opacity: 1;
            left: 0;
            transform: rotate(0deg);
            transition: .2s ease-in-out;

            &:nth-child(1){
                top: 0px;
                transform-origin: left center;
            }
            
            &:nth-child(2){
                top: 5px;
                transform-origin: left center;
            }

            &:nth-child(3){
                top: 10px;
                transform-origin: left center;
            }
        }


        @include mq('md') {
            display: inline-flex;
        }

        @include mq('sm') {
            //top: 20px;
            //right: 20px;
    
            width: 40px;
            height: 40px;
        }
    }

    .header-mobile-menu{
        position: fixed;
        top: 110px;
        left: 0;

        height: calc(100vh - 80px);
        width: 100vw;
        box-sizing: border-box;

        padding: 0 15px;

        transition: transform 1s ease-in-out;
        transform: translateY(-100vh);
        background-color: #EFF0F0;

        overflow-y: auto;

        display: none;

        @include mq('md') {
            display: block;
        }

        @include mq('sm') {
            top: 80px;
            padding: 0 10px;
        }

        &-content{
            transition: opacity .5s;
            transition-delay: 0;
            opacity: 0;
        }

        #toggle_menu{
            p:first-child{
                display: inline-flex;
                align-items: center;

                margin: 0;
                color: #fff;

                cursor: pointer;
    
                &::after{
                    content: "▼";
                    margin-left: 10px;
    
                    font-family: 'Montserrat';
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 1.2em;
                    letter-spacing: -0.04em;
    
                    transition: .5s;
    
                    @include mq('sm') {
                        font-size: 12px;
                    }
                }
            }

            &.--open_ex{

                .header-mobile-menu-list-item-ex{
                    visibility: visible;
                    opacity: 1;
                    max-height: 180px;
                    margin-top: 30px;

                    @include mq('sm') {
                        max-height: 350px;
                    }
                }

                p{
                    &::after{
                        transform: rotate(180deg);
                    }
                }
            }
        }

        &-list{
            width: 100%;
            padding: 30px 80px;
            border-radius: 30px;
            box-sizing: border-box;

            background-image: url("/public/images/svg//back_grad.svg");
            background-repeat: no-repeat;
            
            background-position-x: -150px;
            background-position-y: -140px;

            overflow: hidden;
            
            @include mq('sm') {
                padding: 30px;
            }

            &-item{
                padding: 30px 0;
                border-bottom: 1px solid #fff;

                font-family: 'Montserrat';
                font-size: 30px;
                font-weight: 400;
                line-height: 1.2em;
                letter-spacing: -0.04em;                
                text-transform: uppercase;
                text-align: center;

                //transition: opacity .2s ease;
                opacity: 0;

                @include mq('sm') {
                    font-size: 24px;
                }

                &-ex{
                    visibility: collapse;
                    opacity: 0;
                    max-height: 0;
                    transition: .5s;

                    //padding-top: 30px;

                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    grid-template-rows: 70px 70px;
                    gap: 10px;

                    @include mq('sm') {
                        grid-template-columns: 1fr 1fr;
                        grid-template-rows: 100px 100px 100px;
                    }

                    &-link{
                        display: flex;
                        flex-direction: column;
                        gap: 6px;
                        align-items: center;
                        justify-content: center;

                        border-radius: 10px;
                        background-color: #36363633;

                        @include mq('sm') {
                            gap: 9px;
                            border-radius: 15px;
                        }

                        p{
                            margin: 0;

                            font-family: 'Montserrat';
                            font-size: 8px;
                            font-weight: 700;
                            line-height: 1.3em;
                            letter-spacing: -0.04em;
                            text-transform: none;

                            @include mq('sm') {
                                font-size: 12px;
                            }
                        }

                        &-image{
                            width: 30px;
                            height: 30px;
                            border-radius: 6px;

                            background-position: center;
                            background-repeat: no-repeat;

                            @include mq('sm') {
                                width: 40px;
                                height: 40px;
                                border-radius: 8px;
                            }
                        }

                        .__manage{
                            background-color: #FD96EB;
                            background-image: url("/public/images/svg/menu_icon/pointer_icon.svg");
                            background-size: 10px 15px;
    
                            @include mq('sm') {
                                background-size: 13px 20px;
                            }
                        }
    
                        .__genplan{
                            background-color: #1E69FE;
                            background-image: url("/public/images/svg/menu_icon/genplan_icon.svg");
                            background-size: 15px;
    
                            @include mq('sm') {
                                background-size: 20px;
                            }
                        }
    
                        .__reserve{
                            background-color: #FF663D;
                            background-image: url("/public/images/svg/menu_icon/reserve_icon.svg");
                            background-size: 12px 16px;
    
                            @include mq('sm') {
                                background-size: 16px 21px;
                            }
                        }
    
                        .__calc{
                            background-color: #002F8D;
                            background-image: url("/public/images/svg/menu_icon/calc_icon.svg");
                            background-size: 15px;
    
                            @include mq('sm') {
                                background-size: 20px;
                            }
    
                        }
    
                        .__fids{
                            background-color: #000;
                            background-image: url("/public/images/svg/menu_icon/fids_icon.svg");
                            background-size: 20px 14px;
    
                            @include mq('sm') {
                                background-size: 27px 18px;
                            }
                        }

                        .__all{
                            background-color: #242424;
                            background-image: url("/public/images/svg/menu_icon/more_icon.svg");
                            background-size: 17px 5px;
    
                            @include mq('sm') {
                                background-size: 22px 7px;
                            }
                        }
                        
                    }

                }

                &:first-child{
                    padding-top: 0;
                    overflow: hidden;
                }

                &:last-child{
                    padding-bottom: 0;
                    border: none;
                }
            }
        }

        &-btn{
            margin: 60px 30px 0px 30px;
            box-sizing: border-box;
            display: inline-block;

            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 49px;
            gap: 20px;

            font-family: 'Montserrat-Bold';
            font-size: 12px;
            font-weight: 700;
            line-height: 1.15em;

            //transition: opacity 0;

            @include mq('sm') {
                margin: 40px 26px 0px 26px;

                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 49px 49px;
                gap: 10px;
            }

            a{
                display: inline-flex;
                justify-content: center;
                align-items: center;

                box-sizing: border-box;
                border-radius: 14px;
            }

            &-login{
                background-color: #fff;
                color: #1E69FE;

                transition: 0s;
                opacity: 0;
            }

            &-reg{
                background-color: #1E69FE;

                transition: 0s;
                opacity: 0;
            }
        }

        &-link{
            margin: 60px 30px 0 30px;
            box-sizing: border-box;

            //padding-bottom: 60px;

            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 49px;
            gap: 20px;

            //transition: opacity .2s;
            opacity: 0;
            
            @include mq('sm') {
                margin: 40px 26px 0 26px;

                display: grid;
                grid-template-columns: 1fr;
                gap: 40px;
            }

            &-item{
                text-align: center;

                p{
                    margin-top: 0;
                    margin-bottom: 10px;
    
                    font-family: 'Montserrat';
                    font-size: 14px;
                    font-weight: 300;
                    line-height: 1.15em;
                    color: #000;
                    opacity: 0.3;

                    @include mq('sm') {
                        font-size: 12px;
                    }
                }

                a{
                    font-family: 'Montserrat';
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 20px;

                    color: #1D2848;
                }
            }
        }

        &-bottom{
            width: auto;
            height: 180px;

            @include mq('sm') {
                height: 140px;
            }
        }
    }

    &.--open_mobile_menu{

        background: rgb(239,240,240);

        @include mq('md') {

            .header-mobile-menu{
                transform: translateY(0);

                &-content{
                    transition-delay: 1s;
                    opacity: 1;
                }

                &-list{
                    animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
                    animation-duration: 1.4s; /* don't forget to set a duration! */
                    animation-delay: 1s;

                    &-item{
                        animation: fadeInUp; /* referring directly to the animation's @keyframe declaration */
                        animation-duration: 2s; /* don't forget to set a duration! */

                        opacity: 1;

                        &:nth-child(1){
                            animation-delay: 0.8s;
                            transition-delay: 0.8s;
                        }

                        &:nth-child(2){
                            animation-delay: 1s;
                            transition-delay: 1s; 
                        }

                        &:nth-child(3){
                            animation-delay: 1.2s;   
                            transition-delay: 1.2s;   
                        }

                        &:nth-child(4){
                            animation-delay: 1.4s;  
                            transition-delay: 1.4s;    
                        }
                    }
                }

                &-btn{
                    animation: fadeInUp; /* referring directly to the animation's @keyframe declaration */
                    animation-duration: 1.5s; /* don't forget to set a duration! */
                    animation-delay: 1.6s;          

                    &-login{
                        transition-delay: 1.6s;
                        opacity: 1; 
                    }

                    &-reg{
                        transition-delay: 1.6s;
                        opacity: 1; 

                        @include mq('sm') {
                            animation: fadeInUp; /* referring directly to the animation's @keyframe declaration */
                            animation-duration: 2s; /* don't forget to set a duration! */
                            animation-delay: 1.8s;
                            transition-delay: 1.8s;
                        }
                    }  
                }

                &-link{
                    animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
                    animation-duration: 1.5s; /* don't forget to set a duration! */
                    animation-delay: 2.2s;
                    transition-delay: 2.2s;
                    opacity: 1;
                }
            }

            .header-right{
                opacity: 0;
            }

            .header-mobile-button span{
                &:nth-child(1){
                    transform: rotate(45deg);
                    top: 0px;
                    left: 2px;
                }
                
                &:nth-child(2){
                    width: 0%;
                    opacity: 0;
                }

                &:nth-child(3){
                    transform: rotate(-45deg);
                    top: 8.5px;
                    left: 2px;
                }
            }
        }
    }
}