.progress-ring {
    z-index: -1;
    opacity: 0;
    position: absolute;
    top: -50%;
    left: -50%;
    &__circle {
        z-index: -1;
        transition: stroke-dashoffset 3s linear;
        transform: rotate(-90deg);
        transform-origin: 50% 50%;
        stroke-dasharray: 50.265; /* Длина окружности (2 * π * r) */
        stroke-dashoffset: 50.265;
    }
}
.smart-plan__carousel-nav-item.active .progress-ring__circle {
    stroke-dashoffset: 0;
}
.smart-plan__carousel-nav-item.active .progress-ring {
    opacity: 1;
}
