body {
    margin: 0;
    padding: 0;
}

.section {
    margin: 0;
    height: calc(100vh - 120px);
    padding: 60px 60px 60px 160px;
    background-color: $background-primary;
    position: relative;
    z-index: 999;
    overflow: hidden;
    &-blur {
        &-1 {
            position: absolute;
            top: 20%;
            left: 30%;
            z-index: 1;
            width: 505px;
            height: 329px;
            background-color: #1E69FE;
            filter: blur(150px);
        }
        &-2 {
            position: absolute;
            top: 55%;
            left: 36%;
            z-index: 1;
            width: 505px;
            height: 329px;
            border-radius: 50%;
            background-color: #FF93EE;
            filter: blur(150px);
        }
        &-3 {
            position: absolute;
            top: 30%;
            left: 55%;
            z-index: 1;
            width: 696px;
            height: 423px;
            border-radius: 50%;
            background-color: #005272;
            filter: blur(150px);
        }
    }
    &-container {
        height: 100%;
        display: flex;
        gap: 240px;
    }
    &-left {
        min-width: 400px;
        max-width: 400px;
    }
    &-right {
        position: relative;
        width: 100%;
        z-index: 999;
        opacity: 0;
        transform: translateX(50px) scale(0.95);
        filter: blur(10px);
        transition: transform 0.8s cubic-bezier(0.68, -0.55, 0.27, 1.55),
            opacity 0.65s ease-in-out,
            filter 0.65s ease-in-out;
    }
    .section-right.slide-in {
        opacity: 1;
        transform: translateX(0) scale(1);
        filter: blur(0);
    }

    .smart-plan__carousel-title, .smart-plan__carousel-subtitle {
        opacity: 0;
        transform: translateY(120px);
        transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    }

    .section-right.slide-in .smart-plan__carousel-title {
        opacity: 1;
        transform: translateY(0);
        transition-delay: 0.15s;
    }

    .section-right.slide-in .smart-plan__carousel-subtitle {
        opacity: 1;
        transform: translateY(0);
        transition-delay: 0.25s;
    }

    .smart-plan__carousel-icon, .smart-plan__carousel-nav {
        opacity: 0;
        transform: translateY(20px);
        transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
    }

    .section-right.slide-in .smart-plan__carousel-icon {
        opacity: 1;
        transform: translateY(0);
        transition-delay: 0.45s;
    }

    .section-right.slide-in .smart-plan__carousel-nav {
        opacity: 1;
        transform: translateY(0);
        transition-delay: 0.5s;
    }

    /* Анимация для изображений карусели */
    .smart-plan__carousel-image {
        opacity: 0;
        transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
    }
}
