@keyframes fadeInAndSlide {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    50% {
        transform: translateX(50%);
        opacity: .25;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.smart-plan {
    &--wrapper {
        height: 100%;
        z-index: 999;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-height: 820px;
        position: relative;
    }
    &__info {
        position: absolute;
        top: 50%;
        left: 0;
        display: flex;
        flex-direction: column;
        gap: 23px;
        transform: translateY(-130%);
        opacity: 0;
        filter: blur(30px);
        transition: transform 0.8s cubic-bezier(0.68, -0.55, 0.27, 1.55),
        opacity 0.6s ease-in-out,
        filter 0.6s ease-in-out;

        &.slide-in {
            transform: translateY(0);
            opacity: 1;
            filter: blur(0);
        }

        &.hidden {
            opacity: 0;
            transform: translateY(100%);
            visibility: hidden;
            transition: all .25s ease-in-out;
            filter: blur(30);
        }

        &.visible {
            opacity: 1;
            transform: translateY(0);
            visibility: visible;
            filter: blur(0);
            transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
        }
    }
    &__title, &__subtext, &__input, &__privacy, &__button, &__subtext--small {
        opacity: 1;
        transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    }
    &__info.slide-in &__title {
        opacity: 1;
        transform: translateY(0);
        transition-delay: .1s;
    }

    &__info.slide-in &__subtext {
        opacity: 1;
        transform: translateY(0);
        transition-delay: 0.2s;
    }

    &__info.slide-in &__subtext--small {
        opacity: 1;
        transform: translateY(0);
        transition-delay: 0.2s;
    }

    &__info.slide-in &__input {
        opacity: 1;
        transform: translateY(0);
        transition-delay: 0.2s;
    }

    &__info.slide-in &__privacy {
        opacity: 1;
        transform: translateY(0);
        transition-delay: 0.2s;
    }

    &__info.slide-in &__button {
        opacity: 1;
        transform: translateY(0);
        transition-delay: 0.2s;
    }
    &__icon {
        width: 250px;
        height: 60px;
        background-image: url("/public/images/svg/smartplan-logo-white.svg");
        background-repeat: no-repeat;
        transform: translateY(-300%);
        opacity: 0;
        filter: blur(10px);
        transition: transform 0.8s cubic-bezier(0.68, -0.55, 0.27, 1.55),
        opacity 0.6s ease-in-out,
        filter 0.6s ease-in-out;

        &.slide-in {
            transform: translateX(0);
            opacity: 1;
            filter: blur(0);
        }
    }
    &__title {
        h1 {
            margin: 0;
            font-size: 36px;
            font-family: 'Helvetica-Bold', sans-serif;
            color: #ffffff;
        }
    }
    &__subtext {
        p {
            margin: 0;
            color: #ffffff;
            font-family: 'Helvetica-Regular', sans-serif;
            font-size: 14px;
        }
        &--small {
            cursor: pointer;
            margin: 0;
            color: #ffffff;
            font-family: 'Helvetica-Regular', sans-serif;
            font-size: 12px;
            span {
                color: $primary;
            }
        }
    }
    &__input {
        transition: all .15s ease-out;
        position: relative;
        display: flex;
        align-items: center;
        background-color: $white;
        border-radius: 10px;
        &-label {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 15px;
            border-right: 1px solid #d9d9d9;
            gap: 17px;
        }
        &-flag {
            width: 24px;
            height: 16px;
            background-size: cover;
            box-shadow: 0px 5px 30px rgb(42 42 42 / 90%);
        }
        &-num {
            color: #333333;
            font-size: 28px;
            font-family: 'Helvetica-Bold', sans-serif;
        }
        &-container {
            padding: 20px;
        }
    }
    &__phone {
        &-dropdown {
            transition: all .3s ease, transform .3s ease;
            position: absolute;
            top: 110%;
            background-color: white;
            width: 100%;
            z-index: 999;
            border-radius: 10px;
            visibility: hidden;
            opacity: 0;
            transform: translateY(-30px);
            &.show-main {
                transition: all .3s ease, transform .3s ease;
                visibility: visible;
                opacity: 1;
                transform: translateY(0);
            }
            &-items {
                transition: all .3s ease, transform .3s ease;
                opacity: 0;
                transform: translateY(-30px);
                visibility: hidden;
                max-height: 200px;
                overflow-y: scroll;
                margin: 10px 10px 10px 0;

                &.show {
                    transition: all .3s ease, transform .3s ease;
                    visibility: visible;
                    opacity: 1;
                    transform: translateY(0);
                }

                &::-webkit-scrollbar {
                    width: 5px;
                }

                &::-webkit-scrollbar-track {
                    background-color: #ffffff;
                }

                &::-webkit-scrollbar-thumb {
                    border-radius: 10px;
                    background-color: #e8e8e8;
                }
            }
            &-item {
                margin-right: 5px;
                transition: all .15s ease-out;
                cursor: pointer;
                display: flex;
                align-items: center;
                &:hover {
                    transition: all .15s ease-out;
                    background-color: #ededed;
                }
                &:focus,
                &:active {
                    transition: all .15s ease-out;
                    background-color: #dadada;
                }
            }
            &-info {
                display: flex;
                width: 90px;
                align-items: center;
                padding: 10px 0 10px 13px;
                gap: 10px;
            }
            &-flag {
                width: 24px;
                height: 16px;
                background-size: cover;
            }
            &-code {
                color: #333333;
                font-size: 22px;
                font-family: 'Helvetica-Bold', sans-serif;
            }
            &-name {
                color: #333333;
                font-size: 22px;
                font-family: 'Helvetica-Bold', sans-serif;
                margin-left: 20px;
            }
        }
    }
    &__privacy {
        user-select: none;
        cursor: pointer;
        display: flex;
        gap: 9px;
        transition: all .15s ease-in-out;
        z-index: -1;
        &-checkbox {
            transition: all .15s ease-in-out;
            position: relative;
            input[type="checkbox"] {
                display: none;
            }
            .custom-checkbox {
                cursor: pointer;
                display: inline-block;
                position: relative;
                transition: all .15s ease-in-out;
                .unchecked {
                    transition: all .15s ease-in-out;
                    display: block;
                }
                .checked {
                    transition: all .15s ease-in-out;
                    display: none;
                }
            }
            input[type="checkbox"]:checked + .custom-checkbox .unchecked {
                display: none;
                transition: all .15s ease-in-out;
            }
            input[type="checkbox"]:checked + .custom-checkbox .checked {
                transition: all .15s ease-in-out;
                display: block;
            }
        }
        &-text {
            a {
                text-decoration: none;
                color: #ffffff;
                font-size: 14px;
                font-family: 'Helvetica-Regular', sans-serif;
            }
        }
    }
    &__button {
        z-index: -1;
        user-select: none;
        transition: all .2s ease-in-out;
        cursor: pointer;
        width: 100%;
        height: 70px;
        border-radius: 10px;
        background-color: $primary;
        color: $white;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
            transition: all .2s ease-in-out;
            background-color: $primary-hover;
        }
        &:active,
        &:focus {
            transition: all .2s ease-in-out;
            background-color: $primary-click;
        }
    }
    &__carousel {
        position: relative;
        @include color-with-opacity($white, .24);
        height: 100%;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        &-content {
            transition: all .15s ease-in-out;
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 25px;
            align-items: center;
            z-index: 999;
            padding: 20px;
            &:before {
                position: absolute;
                content: '';
                width: 100%;
                height: 100%;
                z-index: -1;
                background-color: rgb(5 32 41 / 81%);
                top: 0;
                left: 0;
                border-radius: 20px;
            }
        }
        &-icon {

        }
        &-title {
            color: $white;
            h1 {
                font-family: 'Helvetica-Bold', sans-serif;
                font-size: 34px;
                margin: 0;
            }
        }
        &-subtitle {
            p {
                margin: 0;
                color: $white;
                font-size: 28px;
            }
            span {
                font-family: 'Helvetica-Bold', sans-serif;
                color: $orange;
            }
        }
        &-nav {
            cursor: pointer;
            display: flex;
            gap: 13px;
            justify-content: center;
            align-items: center;

            &-item {
                width: 10px;
                height: 10px;
                background-color: rgba(255, 255, 255, 20%);
                border-radius: 20px;
                z-index: 999;
                &.active {
                    transition: all .3s ease-in-out;
                    position: relative;
                    z-index: 999;
                    width: 10px;
                    height: 10px;
                    border-radius: 20px;
                    &::after {
                        transition: all .3s ease-in-out;
                        content: '';
                        position: absolute;
                        background-color: white;
                        width: 15px;
                        height: 15px;
                        border-radius: 50%;
                        top: -25%;
                        left: -30%;
                    }
                }
            }
        }
        &-images {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            border-radius: 20px;
        }
        &-image {
            flex: 1 0 100%;
            transition: opacity 0.3s ease;
            position: absolute; // Позиционирование каждого изображения абсолютно
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover; // Изображение заполняет контейнер
            }
        }
    }
    &__form {
        &-group {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 100%;
        }
        &-container {
            width: 100%;
            position: relative;
        }
    }
    &__password {
        &-hint {
            visibility: hidden; /* Скрываем подсказку по умолчанию */
            opacity: 0;
            transition: all .15s ease-in-out;

            position: absolute;
            left: -1%;
            top: 125%;
            display: flex;
            flex-direction: column;
            padding: 30px 30px;
            gap: 30px;
            border-radius: 10px;
            background-color: #011c25;
            box-shadow: 0 0 10px .1px #005272;
            z-index: 999;
            &.active {
                visibility: visible;
                opacity: 1;
                transition: all .15s ease-in-out;
            }
        }
        &-check {
            display: flex;
            gap: 10px;
            align-items: center;
            p {
                margin: 0;
                color: $white;
                font-size: 16px;
                font-family: 'Helvetica-Regular', sans-serif;
            }
            &--item {
                transition: all .15s ease-in-out;
                height: 10px;
                border-radius: 50%;
                max-width: 10px;
                width: 100%;
                &.passed {
                    transition: all .15s ease-in-out;
                    background-color: #4caf50;
                }
                &.not-passed {
                    transition: all .15s ease-in-out;
                    background-color: #f44336;
                }
            }
        }
    }
    &__item {
        &-text {
            transition: all .2s ease-out;
            max-width: 400px;
            width: 90%;
            padding: 20px;
            max-height: 70px;
            border-radius: 10px;
            font-family: 'Helvetica-Bold', sans-serif;
            color: $text-dark;
            font-size: 20px;
            border: none;
            outline: none;
            &::placeholder {
                font-family: 'Helvetica-Regular', sans-serif;
                color: $text-dark-light;
                font-size: 20px;
            }
            &:focus,
            &:active {
                transition: box-shadow .2s ease-out;
                border: none;
                outline: none;
                box-shadow: 0 0 0 .15em $primary !important;
            }
            &:hover {
                transition: box-shadow .2s ease-out;
                box-shadow: 0 0 0 .15em #bbd0ff;
            }
            &.valid {
                transition: box-shadow .2s ease-out;
                box-shadow: 0 0 0 .15em #7bff95 !important;
            }
            &.invalid {
                transition: box-shadow .2s ease-out;
                box-shadow: 0 0 0 .15em #ff7b7b !important;
            }
        }
    }
}
